/* Base style rules for Dig-Dug page */

body {
    background-color: #3d405b;
    font-family: Arial, sans-serif;
    color: #444;
}

main {
    background-color: #f4f1de;
    width: 80vw;
}

header, main, footer {
    margin: 0 auto;
    padding: 1rem;
}

header {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    border-bottom: 1px solid blue;
    text-align: center;
}

h1, h2, h3 {
    color: #E07A5F;
    font-family: 'Nunito', sans-serif;
    margin-left: 10px;
    text-decoration: underline;
}

p {
    margin-left: 50px;
}

blockquote {
    background-color: lightgray;
    padding: 1rem;
}

a:link {
    color: #f0b14b;
}

a:visited {
    color: #81B29A;
}

a:active {
    color: #E07A5F;
}

img.float {
    float: right;
    margin: 0 12px;
}